asgiref==3.8.1; python_version >= '3.8'
beautifulsoup4==4.12.3; python_full_version >= '3.6.0'
bs4==0.0.2
certifi==2024.2.2; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
django==4.2.11; python_version >= '3.8'
djangorestframework==3.15.1; python_version >= '3.6'
drf-yasg==1.21.7; python_version >= '3.6'
googlemaps==4.10.0; python_version >= '3.5'
idna==3.7; python_version >= '3.5'
inflection==0.5.1; python_version >= '3.5'
mysqlclient==2.2.4; python_version >= '3.8'
packaging==24.0; python_version >= '3.7'
pytz==2024.1
pyyaml==6.0.1; python_version >= '3.6'
requests==2.31.0; python_version >= '3.7'
soupsieve==2.5; python_version >= '3.8'
sqlparse==0.5.0; python_version >= '3.8'
typing-extensions==4.11.0; python_version < '3.11'
uritemplate==4.1.1; python_version >= '3.6'
urllib3==2.2.1; python_version >= '3.8'
